USE [STAGE_GASTO_MEF]
GO
/****** Object:  Table [dbo].[STAGE_UBIGEO]    Script Date: 15/09/2025 17:21:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE_UBIGEO](
	[UBIGEO_RENIEC] [nvarchar](255) NULL,
	[UBIGEO_INEI] [nvarchar](255) NULL,
	[DEPARTAMENTO_INEI] [nvarchar](255) NULL,
	[DEPARTAMENTO] [nvarchar](255) NULL,
	[PROVINCIA_INEI] [nvarchar](255) NULL,
	[PROVINCIA] [nvarchar](255) NULL,
	[DISTRITO] [nvarchar](255) NULL,
	[REGION] [nvarchar](255) NULL,
	[MACROREGION_INEI] [nvarchar](255) NULL,
	[MACROREGION_MINSA] [nvarchar](255) NULL,
	[CODIGO_FIPS] [nvarchar](255) NULL,
	[SUPERFICIE] [float] NULL,
	[ALTITUD] [float] NULL,
	[LATITUD] [float] NULL,
	[LONGITUD] [float] NULL,
	[POBLACION_DISTRITO] [float] NULL,
	[POBLACION_PROVINCIA] [float] NULL,
	[POBLACION_DEPARTAMENTO] [float] NULL,
	[DIRESA] [nvarchar](255) NULL
) ON [PRIMARY]
GO
